<div class="container">
        <div class="card border-success mt-5">
            <h1 class="card-header">Upload Image or <button class="btn btn-lg btn-primary" ng-click="uploadmeme.clicking()">Sign up</button></h1>
            <div class="card-body">
                <div class="form-group">
                    <form action="/uploads/globalise" method="post" enctype="multipart/form-data">
                        <input class="form-control-file" type="file" accept="image/*" name="photo" >
                        <input class="btn mt-3" type="submit" value="upload">
                        
                    </form>
                    

                </div>
            <div>
            <a href="https://salmansmemes.herokuapp.com/downloads/globalise"><button class="btn btn-small btn-primary">Download All Memes</button></a>
        </div>
            </div>
        </div>
    </div>