<div class="card border-success mt-5">
    <h1 class="card-header">All Memes</h1>
        <div class="card-body">
            
                
             <div  style="display:inline" ng-repeat="meme in viewmemes.memescollection">
                 
                <a ng-href="{{meme.url}}"><img  class="img-responsive" style="display: inline" ng-src="{{meme.url}}" alt="Smiley face" height="100px" width="100px" ></a>
                </div> 
                
                
             </div>
            </div>

                
            </div>

            

        
        


</div>